$line-color: hsla(205,80%,40%,1);

.Card {
  user-select: none;
  border: 3px solid transparent;
  .CardMedia {
    height: 100px;
  }
  &.Card--done {
    border: 3px solid #686;
  }
  &.Card--invalid {
    border: 3px solid #a66;
  }

  .CardMediaPlaceholder{
    padding: 0px !important;
    @extend .CardMedia;
    background-color: #222;
    background-size: 5em 2em, 5em 2em, 5em 2em, 5em 2em, 2em 5em, 2em 5em, 2em 5em, 2em 5em;
    background-image:
      //<>
      linear-gradient( 25deg, transparent 65%, $line-color, transparent 70% ),
      linear-gradient( -25deg, transparent 65%, $line-color, transparent 70% ),
      linear-gradient( -25deg, transparent 30%, $line-color, transparent 35% ),
      linear-gradient( 25deg, transparent 30%, $line-color, transparent 35% ),

      // ◊
      linear-gradient( 65deg, transparent 65%, $line-color, transparent 70% ),
      linear-gradient( -65deg, transparent 65%, $line-color, transparent 70% ),
      linear-gradient( -65deg, transparent 30%, $line-color, transparent 35% ),
      linear-gradient( 65deg, transparent 30%, $line-color, transparent 35% );
  }
}
